section div input,textarea {
    width: 97%;
    padding: 5px;
}
section div label {
   background-color: antiquewhite;
   margin: 15px 0;
   padding: 5px 0;
   display: block;
}

#fecha {
    text-align: center;
    width: 20%;
}
button{
    padding: 10px;
    border-radius: 10px;
    
}